* {
    background-color: darkslategrey;
    color: white;

}

#title {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
}

#description {
    font-style: italic;
}

main {
    width: 60%;
    margin: 0 auto;
    
    }

form, select {
    display: flex;
    flex-direction: column;
}




